@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap');


.todoform{

    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgb(0, 0, 0,0.1);

}

.modernInput
{
    display: block;
    width: 100%;
    border: none;
    color: black;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.modernInput:focus
{
    outline: none;
}

.modernButton{
    display: inline-block;
    border:  none;
    border-radius: 4px;
    background-color: rgb(49, 49, 48);
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

.hidButtoin{
    
    border-radius: 4px;
    border:10px;
    background-color: rgb(11, 17, 105);
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin:  20px;
}

.inputContainer{
    display: flex;
    
}

@media screen and (max-width: 500px) {

    .inputContainer{
        width: 300px;

    }

    .todoform{
        width: 300px;
    }
    
}

.mainDiv{

    display: flex;
    justify-content: center;
}