@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap');

body
{

   
    background: rgb(56,60,82);
    background: radial-gradient(circle, rgba(56,60,82,1) 0%, rgba(2,5,24,1) 48%, rgba(3,2,2,1) 100%);
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

